<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Area admin</title>
</head>
<body>

<h1>Area amministratore</h1>

<ul>
    <li><a href="/admin/books/new">Aggiungi libro</a></li>
    <li><a href="/admin/authors/new">Aggiungi autore</a></li>
    <li><a href="/admin/loans">Gestione prestiti</a></li>
    <li><a href="/books">Lista libri pubblica</a></li>
    <li><a href="/authors">Lista autori pubblica</a></li>
</ul>

<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>