<form th:action="@{/books}" th:object="${book}" method="post">

    <input type="hidden" th:field="*{id}" />

    <div>
        <label>Titolo:</label>
        <input type="text" th:field="*{title}" />
    </div>

    <div>
        <label>Anno:</label>
        <input type="number" th:field="*{year}" />
    </div>

    <div>
        <label>URL immagine:</label>
        <input type="text" th:field="*{urlImage}" />
    </div>

    <div>
        <label>Autore:</label>
        <select th:field="*{author}">
            <option value="">-- Seleziona autore --</option>
            <option th:each="author : ${authors}"
                    th:value="${author.id}"
                    th:text="${author.name + ' ' + author.surname}">
            </option>
        </select>
    </div>

    <div>
        <button type="submit">Salva</button>
    </div>

</form>