<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dettaglio libro</title>
	
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<body>

<h1>Dettaglio libro</h1>

<div th:if="${book}">

    <div>
        <img th:if="${book.urlImage}"
             th:src="${book.urlImage}"
             alt="copertina"
             width="120"
             height="180"/>
    </div>

    <p>
        <b>Titolo:</b>
        <span th:text="${book.title}"></span>
    </p>

    <p>
        <b>Anno:</b>
        <span th:text="${book.year}"></span>
    </p>

    <p th:if="${book.author}">
        <b>Autore:</b>
        <span th:text="${book.author.name + ' ' + book.author.surname}"></span>
    </p>

    <hr>
	
	<h2>Prestito</h2>
	
	<div th:if="${bookAlreadyLoaned}">
	    <p style="color: red;">
	        Libro già in prestito
	    </p>
	</div>

	<div th:unless="${bookAlreadyLoaned}">

	<p>
	    	<a th:href="@{'/books/' + ${book.id} + '/loans/new'}">
	        Prendi in prestito
	    	</a>
		</p>
	</div>

	<hr>

	<h2>Recensioni</h2>

	<div id="reviews-root"
	     th:attr="
	        data-book-id=${book.id},
	        data-can-review=${#authorization.expression('isAuthenticated()')},
			data-show-login-message=true">
	</div>

    <hr>

    <p>
        <a href="/books">Torna alla lista libri</a>
    </p>

</div>

<div th:unless="${book}">
    <p>Libro non trovato.</p>
    <a href="/books">Torna alla lista libri</a>
</div>

</body>

<script src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

<script type="text/babel"
        th:src="@{/js/reviews.jsx}">
</script>

</html>