<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Autori</title>
</head>
<body>

<h1>Lista Autori</h1>

<div style="text-align: right; margin-bottom: 20px;">

    <div sec:authorize="isAnonymous()">
        <a th:href="@{/register}">Registrati</a>
        |
        <a th:href="@{/login}">Login</a>
    </div>

    <div sec:authorize="isAuthenticated()">
        <span>
            Utente:
            <strong sec:authentication="name"></strong>
        </span>

        <form th:action="@{/logout}"
              method="post"
              style="display: inline; margin-left: 10px;">
            <button type="submit">Logout</button>
        </form>
    </div>

</div>

<a href="/">Home</a> 

<table border="1">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Data di nascita</th>
        <th>Azioni</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.name}"></td>
        <td th:text="${author.surname}"></td>
        <td th:text="${author.birthDate}"></td>
        <td>
            <a th:href="@{'/authors/' + ${author.id}}">Dettagli</a>
            
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>