<h1>Libri</h1>

<a href="/">Home</a> |
<a href="/books/new">➕ Aggiungi libro</a>

<table border="1">
    <thead>
    <tr>
        <th>Immagine</th>
        <th>Titolo</th>
        <th>Autore</th>
        <th>Anno</th>
        <th>Azioni</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="book : ${books}">
        <td>
            <img th:if="${book.urlImage}"
                 th:src="${book.urlImage}"
                 alt="cover"
                 width="60"
                 height="90"/>
        </td>

        <td th:text="${book.title}"></td>

        <td>
            <a th:if="${book.author != null}"
               th:href="@{'/authors/' + ${book.author.id}}"
               th:text="${book.author.name + ' ' + book.author.surname}">
            </a>
            <span th:if="${book.author == null}">Nessun autore</span>
        </td>

        <td th:text="${book.year}"></td>

        <td>
            <a th:href="@{'/books/' + ${book.id}}">Dettagli</a>
            |
            <a th:href="@{'/books/edit/' + ${book.id}}">Modifica</a>
            |
            <a th:href="@{'/books/delete/' + ${book.id}}">Elimina</a>
        </td>
    </tr>
    </tbody>
</table>