<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dettaglio libro</title>
</head>
<body>

<div style="text-align: right; margin-bottom: 20px;">
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>

<h1>Dettaglio libro</h1>

<div th:if="${book}">

    <div>
        <img th:if="${book.urlImage != null && !book.urlImage.isEmpty()}"
             th:src="${book.urlImage}"
             alt="Copertina"
             width="120"
             height="180"/>
    </div>

    <p>
        <strong>Titolo:</strong>
        <span th:text="${book.title}"></span>
    </p>

    <p>
        <strong>Anno:</strong>
        <span th:text="${book.year}"></span>
    </p>

    <p>
        <strong>Autore:</strong>

        <a th:if="${book.author != null}"
           th:href="@{/admin/authors/{id}(id=${book.author.id})}"
           th:text="${book.author.name + ' ' + book.author.surname}">
        </a>

        <span th:if="${book.author == null}">
            Nessun autore associato
        </span>
    </p>

    <hr>

    <h2>Stato prestito</h2>

    <p th:if="${bookAlreadyLoaned}" style="color: red;">
        Il libro è attualmente in prestito.
    </p>

    <p th:unless="${bookAlreadyLoaned}" style="color: green;">
        Il libro è attualmente disponibile.
    </p>

    <hr>

	<hr>

	<h2>Recensioni</h2>

	<div id="reviews-root"
	     th:attr="
	        data-book-id=${book.id},
	        data-can-review=false,
			data-show-login-message=false">
	</div>

    <hr>

    <p>
        <a th:href="@{/admin/books/{id}/edit(id=${book.id})}">
            Modifica libro
        </a>
    </p>

    <p>
        <a th:href="@{/admin/books}">
            Torna alla gestione libri
        </a>
    </p>

    <p>
        <a th:href="@{/admin}">
            Home amministrativa
        </a>
    </p>

</div>

</body>

<script src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

<script type="text/babel"
        th:src="@{/js/reviews.jsx}">
</script>

</html>