<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nuovo prestito</title>
</head>
<body>

<h1>Nuovo prestito</h1>

<p>
    Libro:
    <b th:text="${book.title}"></b>
</p>

<form th:action="@{'/books/' + ${book.id} + '/loans'}"
      th:object="${loan}"
      method="post">

    <div>
        <label>Data di scadenza:</label>
        <input type="date" th:field="*{endDate}" />
    </div>

    <br>

    <button type="submit">Conferma prestito</button>

</form>

<br>

<a th:href="@{'/books/' + ${book.id}}">
    Torna al libro
</a>

</body>
</html>